<div class="ui secondary menu">
  <div class="item"><h2>My current tasks</h2></div>
  <div class="right menu">
    <div class="item"><div class="ui button blue ">New Contract</div></div>
  </div>
</div>

<div class="ui secondary menu form">
  <a class="item" (click)="refreshTable()"><h3><i class="sync alternate icon"></i> Refresh table</h3></a>
  <div class="right menu">
    <div class="item">
      <div class="ui checkbox">
        <input type="checkbox" name="on_call">
        <label>On the call</label>
      </div>
      <!-- <div class="ui toggle checkbox">
        <input type="checkbox" name="gift">
        <label>On the call</label>
      </div> -->
    </div>
  </div>
</div>

<table class="ui celled striped table">
  <thead>
    <tr>
    <th></th>
    <th>Contract Number</th>
    <th>Time of initiation</th>
    <th>Number of Tasks</th>
    <th>Reason for blocker</th>
    <th>Note</th>
    <th></th>
    
  </tr></thead>
  <tbody>
    <tr *ngFor="let task of openTasks" [ngClass]="{ selected: currentTask === task }" class="ui form open">
      <td>
        <i class="copy outline icon large" (click)="copyContractNumber()"></i>
      </td>
      <td (click)="clickTableRow(task)">
        {{ task.contractId }}
      </td>
      <td (click)="clickTableRow(task)">
        {{ task.timeOfInit }}
      </td>
      <td (click)="clickTableRow(task)">
        {{ task.noSubtasks }}
      </td>
      <td (click)="clickTableRow(task)">
        <select class="ui dropdown" *ngIf="currentTask === task" [(ngModel)]="task.blocker">
          <option value="LZ">Too lazy to do Something</option>
          <option value="CF">Not enough coffee</option>
          <option value="FD">Its friday already</option>
        </select>
        <span *ngIf="!(currentTask === task)">{{ task.blocker }}</span>
      </td>
      <td (click)="clickTableRow(task)">
        <div *ngIf="currentTask === task">
          <input type="text" [(ngModel)]="task.note">
        </div>
        <span *ngIf="!(currentTask == task)">{{ task.note }}</span>
      </td>
      <td>
        <i class="save outline icon large" (click)="saveTask(task)"></i>
      </td>
    </tr>

    <tr *ngFor="let task of blockedTasks" [ngClass]="{ selected: currentTask === task }" class="ui form">
        <td>
          <i class="copy outline icon large" (click)="copyContractNumber()"></i>
        </td>
        <td (click)="clickTableRow(task)">
          {{ task.contractId }}
        </td>
        <td (click)="clickTableRow(task)">
          {{ task.timeOfInit }}
        </td>
        <td (click)="clickTableRow(task)">
          {{ task.noSubtasks }}
        </td>
        <td (click)="clickTableRow(task)">
          <select class="ui dropdown" *ngIf="currentTask === task" [(ngModel)]="task.blocker">
            <option value="LZ">Too lazy to do Something</option>
            <option value="CF">Not enough coffee</option>
            <option value="FD">Its friday already</option>
          </select>
          <span *ngIf="!(currentTask === task)">{{ task.blocker }}</span>
        </td>
        <td (click)="clickTableRow(task)">
          <div *ngIf="currentTask === task">
            <input type="text" [(ngModel)]="task.note">
          </div>
          <span *ngIf="!(currentTask == task)">{{ task.note }}</span>
        </td>
        <td>
          <i class="save outline icon large" (click)="saveTask(task)"></i>
        </td>
      </tr>
  </tbody>
  </table>
  <app-subtask-table *ngIf="currentTask" [task]="currentTask"></app-subtask-table>