.icon {
    cursor: pointer;
}

.secondary.menu>.item>h3 {
    color: #1e3287;
}

.ui.blue.button, .ui.blue.buttons .button,
.ui.toggle.checkbox input:checked~.box:before, 
.ui.toggle.checkbox input:checked~label:before {
    background: #1e3287!important;
}

.ui.celled.table tr td {
    background: none;
}

.ui.celled.table tr.selected td {
    background: #1e3287;
    color: white;
}

/* .ui.celled.table tr td {
    cursor: pointer;
} */

