
<div class="ui menu">
	<div class="item header">
		<h2>{{ task.name }}</h2>
	</div>
  <div class="item right">
		<h2>#{{ task.contractId }}</h2>
	</div>
  <div class="item">
    <div class="ui primary tiny button" (click)="selectTask()"><i class="search icon"></i>Select Task</div>
  </div>
</div>

<table class="ui celled striped table">
  <thead>
  	<tr><th class="single line" colspan="2">{{ task.name }}</th>
  </tr></thead>
  <tbody>
  	<tr *ngFor="let subtask of subtasks">
  		<td>
  			{{ subtask.name }}
  		</td>
  		<td class="right aligned">
  			<div class="ui green button small" (click)="resolveSubtask(subtask)" [ngClass]="{'disabled': subtask.status===1}">
					<i class="check icon"></i>Resolve
				</div>
  		</td>
  	</tr>
  </tbody>
</table>


<div class="ui modal select">
  <div class="header">Select Task</div>
  <div class="content">
    <table class="ui celled striped table">
    <thead>
    	<tr><th class="single line">Name</th>
    	<th>Description</th>
    	<th>Contract</th>
    	<th>Status</th>
    	<th>Actions</th>
    </tr></thead>
    <tbody>
    	<tr *ngFor="let task of tasks | async">
    		<td>
    			{{ task.name }}
    		</td>
    		<td class="single line">
    			{{ task.description }}
    		</td>
    		<td>
    			{{ task.contractId }}
    		</td>
    		<td>
    			{{ task.status }}
    		</td>
    		<td class="right aligned">
    			<div class="ui approve button" (click)="applySelectedTask(task)"><i class="caret right icon"></i>Select</div>
    		</td>
    	</tr>
    </tbody>
    </table>
  </div>
  <div class="actions">
    <div class="ui cancel button">Cancel</div>
  </div>
</div>
