<div class="ui secondary menu">
  <div class="item"><h2>Users</h2></div>
  <div class="right menu">
    <div class="ui icon input item">
      <i class="search icon"></i>
      <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="changeSearch(newValue)">
    </div>
  </div>
</div>

<div class="ui middle aligned selection list">
  <div class="item" *ngFor="let user of users" (click)="selectUser(user.pk)">
    <i class="ui user circle icon large"></i>
    <div class="content">
      <div class="header">{{ user.username }}</div>
    </div>
  </div>
</div>