{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Try Angular + Django</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
      <!-- index.html -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
<body>
  <my-app>Loading...</my-app>
  <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js"></script>
    <script type="text/javascript" src="{% static 'ang/inline.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/styles.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/polyfills.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/vendor.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/main.bundle.js' %}"></script>
</body>
</html>